<!-- your html code here -->
<div class="container-fluid border-top border-1 bg-white p-5">
    
    <p>
        <img src="https://cdn.pixabay.com/photo/2024/04/25/06/10/ai-generated-8719014_1280.png" class="img-fluid rounded-circle float-end" style="width: 15vw; height: 20vh; object-fit: fill;" alt="img_HP">
        <h5><strong>Harry Potter</strong>, The Boy Who Lived</h5>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p> 
    </p>
</div>